<!DOCTYPE html>
<!--
  Copyright 2017 Openthread authors. All rights reserved.

  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  1. Redistributions of source code must retain the above copyright
     notice, this list of conditions and the following disclaimer.
  2. Redistributions in binary form must reproduce the above copyright
     notice, this list of conditions and the following disclaimer in the
     documentation and/or other materials provided with the distribution.
  3. Neither the name of the copyright holder nor the
     names of its contributors may be used to endorse or promote products
     derived from this software without specific prior written permission.

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
-->
<html lang="en" ng-app="StarterApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>NXP Matter Controller Webui</title>

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="res/img/android-desktop.png">
  <link rel="stylesheet" href="res/css/angular-material.min.css">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Material Design Lite">
  <link rel="apple-touch-icon-precomposed" href="res/img/ios-desktop.png">

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <meta name="msapplication-TileColor" content="#3372DF">

  <link rel="shortcut icon" href="res/img/nxp_web.png">

  <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
  <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
  <link rel="stylesheet" href="res/css/material.min.css">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
  <link rel="stylesheet" href="res/css/styles.css">
  <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
  </style>
</head>

<body ng-controller="AppCtrl">
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--orange-400 mdl-color-text---600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{headerTitle}}</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">

        </div>
      </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--light-green-600 mdl-color-text--blue-grey-50">
      <header class="demo-drawer-header">

        <h4 style="margin: 18px 12px 12px 24px">Matter Controller</h4>
      </header>
      <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <md-list flex>
          <md-list-item md-ink-ripple class="mdl-navigation__link" ng-repeat="item in menu" ng-click="showPanels($index)" layout="row" close-drawer>
            <div>
              <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">{{item.icon}}</i>{{item.title}}
            </div>
          </md-list-item>
        </md-list>
        <div class="mdl-layout-spacer"></div>
      </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid demo-content">

        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" ng-show="menu[0].show">
          <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
            <img src="res/img/matter_logo.png" height="60%" , width="100%">
          </div>
          <div class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-grid">
            <h3>What is Matter?</h3>
            <p>Matter (formerly Project Connected Home over IP or Project CHIP) is an open-source application layer that aims at creating a unified communication standard across smart home devices, mobile applications, and cloud services. It supports a wide range of existing technologies, including Wi-Fi, Thread, and Bluetooth® LE, and uses IPv6-based transport protocols like TCP and UDP to ensure connectivity between different kinds of networks.</p>
            <p>The goal of the Matter project is to simplify development for manufacturers and increase compatibility for consumers. The project is built around a shared belief that smart home devices should be secure, reliable, and seamless to use. By building upon Internet Protocol (IP), the project aims to enable communication across smart home devices, mobile apps, and cloud services and to define a specific set of IP-based networking technologies for device certification.</p>
          </div>

          <div class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-grid">
            <h4>What is Matter Controller?</h4>
            <p>The Matter controller is a role within the Matter development environment. The controller device is used to pair and control the Matter accessory device remotely over a network, interacting with it using Bluetooth LE and the regular IPv6 communication.</p>
            <p style="text-align: center;">
              <img src="res/img/matter_controllers.png" height="70%" , width="80%">
            </p>
          </div>
        </div>

        <!-- Pairing content -->
        <div layout="column" class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" ng-show="menu[1].show">
          <div style="display: flex; flex-wrap: wrap;">
            <h5 style="flex-basis: 100%;">Please choose the pairing type:</h5>
            <div style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
              <div ng-repeat="subitem in menu[1].subitems" ng-click="showsubPanels($index)" style="flex: 1;">
                <div style="margin: 0 4px;">
                  <md-button name="choosepairingtypeButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" style="width: 100%;">{{subitem.title}}</md-button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div layout="column" class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" ng-show="menu[1].show && menu[1].subitems[0].show">
          <h4>Onnetwork</h4>
            <md-content layout-padding flex="100">
              <form name="pairingForm">
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Node ID</label>
                    <input required md-minlength="1" name="nodeId" ng-model="pairing.nodeId">
                    <div ng-messages="pairingForm.nodeId.$error">
                      <div ng-message="required">This is the user-defined ID of the node being commissioned.</div>
                      <div ng-message="md-minlength">The Node ID can be a decimal number or a 0x-prefixed hex number.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Node Alias</label>
                    <input required md-minlength="1" name="nodeAlias" ng-model="pairing.nodeAlias">
                    <div ng-messages="pairingForm.nodeAlias.$error">
                      <div ng-message="required">This is the user-defined node alias of the node being commissioned.</div>
                      <div ng-message="md-minlength">Node Alias is a string.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="100">
                    <label>Pin Code</label>
                    <input required md-maxlength="8" name="pinCode" ng-model="pairing.pinCode">
                    <div ng-messages="pairingForm.pinCode.$error">
                      <div ng-message="required">This value can be found in the logging terminal of the device (such as UART) during boots-up.</div>
                      <div ng-message="md-maxlength">The Pin Code is a number with the length of 8 used by matter to authenticate the device.</div>
                    </div>
                  </md-input-container>
                </div>

                <div>
                  <md-button name="onnetworkButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="onNetwork($event)">OnNetwork</md-button>
                  <div class="loading-spinner" ng-show="showLoadingSpinner">
                    <div class="spinner"></div>
                  </div>
                </div>
              </form>
            </md-content>
        </div>

        <div layout="column" class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" ng-show="menu[1].show && menu[1].subitems[1].show">
          <h4>Ble-Wifi</h4>
            <md-content layout-padding flex="100">
              <form name="pairingForm">
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Node ID</label>
                    <input required md-minlength="1" name="nodeId" ng-model="pairing.nodeId">
                    <div ng-messages="pairingForm.nodeId.$error">
                      <div ng-message="required">This is the user-defined ID of the node being commissioned.</div>
                      <div ng-message="md-minlength">The Node ID can be a decimal number or a 0x-prefixed hex number.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Node Alias</label>
                    <input required md-minlength="1" name="nodeAlias" ng-model="pairing.nodeAlias">
                    <div ng-messages="pairingForm.nodeAlias.$error">
                      <div ng-message="required">This is the user-defined node alias of the node being commissioned.</div>
                      <div ng-message="md-minlength">Node Alias is a string.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="50">
                    <label>SSID</label>
                    <input required md-minlength="1" name="ssId" ng-model="pairing.ssId">
                    <div ng-messages="pairingForm.ssId.$error">
                      <div ng-message="required">Wi-Fi SSID, with the form of string or hex:XXXXX.</div>
                      <div ng-message="md-minlength">The SSID can be a string or hex data.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Password</label>
                    <input required md-minlength="6" name="password" ng-model="pairing.password">
                    <div ng-messages="pairingForm.password.$error">
                      <div ng-message="required">Wi-Fi password, with the form of string or hex:XXXXX.</div>
                      <div ng-message="md-minlength">Password can be a string with the length between 6-255 or a hex data.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="50">
                    <label>Pin Code</label>
                    <input required md-maxlength="8" name="pinCode" ng-model="pairing.pinCode">
                    <div ng-messages="pairingForm.pinCode.$error">
                      <div ng-message="required">This value can be found in the logging terminal of the device (such as UART) during boots-up.</div>
                      <div ng-message="md-maxlength">The Pin Code is a number with the length of 8 used by matter to authenticate the device.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Discriminator</label>
                    <input required name="discriminator" ng-model="pairing.discriminator">
                    <div ng-messages="pairingForm.discriminator.$error">
                      <div ng-message="required">
                        The discriminator is a 12-bit value used by matter to discern between multiple commissionable device advertisements authenticate the device. You can find the value in the logging terminal of the device when the device boots up.
                      </div>
                    </div>
                  </md-input-container>
                </div>

                <div>
                  <md-button name="bleWifiButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="bleWifi($event)">Ble-wifi</md-button>
                  <div class="loading-spinner" ng-show="showLoadingSpinner">
                    <div class="spinner"></div>
                  </div>
                </div>
              </form>
            </md-content>
        </div>

        <div layout="column" class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" ng-show="menu[1].show && menu[1].subitems[2].show">
          <h4>Ble-Thread</h4>
            <md-content layout-padding flex="100">
              <form name="pairingForm">
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Node ID</label>
                    <input required md-minlength="1" name="nodeId" ng-model="pairing.nodeId">
                    <div ng-messages="pairingForm.nodeId.$error">
                     <div ng-message="required">This is the user-defined ID of the node being commissioned.</div>
                     <div ng-message="md-minlength">The Node ID can be a decimal number or a 0x-prefixed hex number.</div>
                   </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Node Alias</label>
                    <input required md-minlength="1" name="nodeAlias" ng-model="pairing.nodeAlias">
                    <div ng-messages="pairingForm.nodeAlias.$error">
                      <div ng-message="required">This is the user-defined node alias of the node being commissioned.</div>
                      <div ng-message="md-minlength">Node Alias is a string.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="50">
                    <label>Pin Code</label>
                    <input required md-maxlength="8" name="pinCode" ng-model="pairing.pinCode">
                    <div ng-messages="pairingForm.pinCode.$error">
                      <div ng-message="required">This value can be found in the logging terminal of the device (such as UART) during boots-up.</div>
                      <div ng-message="md-maxlength">The Pin Code is a number with the length of 8 used by matter to authenticate the device.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Discriminator</label>
                    <input required name="discriminator" ng-model="pairing.discriminator">
                    <div ng-messages="pairingForm.discriminator.$error">
                      <div ng-message="required">
                        The discriminator is a 12-bit value used by matter to discern between multiple commissionable device advertisements authenticate the device. You can find the value in the logging terminal of the device when the device boots up.
                      </div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="100">
                    <label>Dataset</label>
                    <input required md-minlength="1" name="dataset" ng-model="pairing.dataset">
                    <div ng-messages="pairingForm.dataset.$error">
                      <div ng-message="required">This is the current Active Operational Dataset which can be fetched and stored from the otbr.</div>
                      <div ng-message="md-minlength">Dataset can be obtained with the button 'Get-Dataset'.</div>
                    </div>
                  </md-input-container>
                </div>

                <div>
                  <md-button name="getDatasetButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="getDataset($event)">Get-Dataset</md-button>
                  <md-button name="bleThreadButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="bleThread($event)">Ble-thread</md-button>
                  <div class="loading-spinner" ng-show="showLoadingSpinner">
                    <div class="spinner"></div>
                  </div>
                </div>
              </form>
            </md-content>
        </div>

        <div layout="column" class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" ng-cloak ng-show="menu[2].show">
          <h4>OnOff</h4>
            <md-content layout-padding flex="100">
              <form name="onoffForm">
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Node Alias</label>
                    <md-select required name="nodeAlias" ng-model="selectedNodeAlias" ng-change="onNodeAliasChange()">
                      <md-option ng-repeat="(nodeAlias, nodeId) in storageStatus.status" value="{{nodeAlias}}"> {{nodeAlias}} </md-option>
                    </md-select>
                    <div ng-messages="onoffForm.nodeAlias.$error">
                      <div ng-message="required">This value is the user-defined Node Alias of the commissioned node.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Node ID</label>
                    <input required name="nodeId" ng-model="selectedNodeId">
                    <div ng-messages="onoffForm.nodeId.$error">
                      <div ng-message="required">This value is the user-defined Node ID of the commissioned node.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="100">
                    <label>EndPoint ID</label>
                    <input required name="endPointId" type="number" min="1" max="240" ng-model="onoff.endPointId">
                    <div ng-messages="onoffForm.endPointId.$error">
                      <div ng-message-exp="['required', 'min', 'max']">The endpoint id must be between 1 and 240.</div>
                    </div>
                  </md-input-container>
                </div>

                <div>
                  <md-button name="onButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="turnOnLight($event)">On</md-button>
                  <md-button name="toggleButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="toggleLight($event)">Toggle</md-button>
                  <md-button name="offButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="turnOffLight($event)">Off</md-button>
                  <md-button name="readButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="read($event)">Read</md-button>
                  <div class="loading-spinner" ng-show="showLoadingSpinner">
                    <div class="spinner"></div>
                  </div>
                </div>
              </form>
            </md-content>

            <h4>Get Report</h4>
            <md-list class="md-dense" flex=100>
              <md-list-item class="md-3-line" ng-repeat="item in reports">
                <img ng-src="{{item.icon}}" class="md-avatar" alt="" />
                <div class="md-list-item-text" layout="column">
                    <h4><div style="white-space:pre-wrap">{{ item.report }}</div></h4>
                </div>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
        </div>

        <div layout="column" class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" ng-cloak ng-show="menu[3].show">
          <h4>MultiAdmin</h4>
            <md-content layout-padding flex="100">
              <form name="multiadminForm">
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Node Alias</label>
                    <md-select required name="nodeAlias" ng-model="selectedNodeAlias" ng-change="onNodeAliasChange()">
                      <md-option ng-repeat="(nodeAlias, nodeId) in storageStatus.status" value="{{nodeAlias}}"> {{nodeAlias}} </md-option>
                    </md-select>
                    <div ng-messages="multiadminForm.nodeAlias.$error">
                      <div ng-message="required">This value is the user-defined Node Alias of the commissioned node.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Node ID</label>
                    <input required name="nodeId" ng-model="selectedNodeId">
                    <div ng-messages="multiadminForm.nodeId.$error">
                      <div ng-message="required">This value is the user-defined Node ID of the commissioned node.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="100">
                    <label>Window Timeout</label>
                    <input required name="windowTimeout" type="number" min="180" max="900" ng-model="multiadmin.windowTimeout">
                    <div ng-messages="multiadminForm.windowTimeout.$error">
                      <div ng-message-exp="['required', 'min', 'max']">The window timeout must be between 180 and 900.</div>
                    </div>
                  </md-input-container>
                </div>

                <div>
                  <md-button name="openBCMButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="openBCM($event)">Open Commissioning Window with BCM</md-button>
                  <div class="loading-spinner" ng-show="showLoadingSpinner">
                    <div class="spinner"></div>
                  </div>
                </div>
              </form>
            </md-content>
        </div>

        <div layout="column" class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" ng-cloak ng-show="menu[4].show">
          <h4>Subscribe</h4>
            <md-content layout-padding flex="100">
              <form name="subscribeForm">
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Node Alias</label>
                    <md-select required name="nodeAlias" ng-model="selectedNodeAlias" ng-change="onNodeAliasChange()">
                      <md-option ng-repeat="(nodeAlias, nodeId) in storageStatus.status" value="{{nodeAlias}}"> {{nodeAlias}} </md-option>
                    </md-select>
                    <div ng-messages="subscribeForm.nodeAlias.$error">
                      <div ng-message="required">This value is the user-defined Node Alias of the commissioned node.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Node ID</label>
                    <input required name="nodeId" ng-model="selectedNodeId">
                    <div ng-messages="subscribeForm.nodeId.$error">
                      <div ng-message="required">This value is the user-defined Node ID of the commissioned node.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="50">
                    <label>EndPoint ID</label>
                    <input required name="endPointId" type="number" min="1" max="240" ng-model="subscribe.endPointId">
                    <div ng-messages="subscribeForm.endPointId.$error">
                      <div ng-message-exp="['required', 'min', 'max']">The endpoint id must be between 1 and 240.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Min Interval</label>
                    <input required md-minlength="1" name="minInterval" ng-model="subscribe.minInterval">
                    <div ng-messages="subscribeForm.minInterval.$error">
                      <div ng-message="required">This value is the user-defined min interval of subscribe.</div>
                      <div ng-message="md-minlength">The Min Interval is a decimal number.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="100">
                    <label>Max Interval</label>
                    <input required md-minlength="1" name="maxInterval" ng-model="subscribe.maxInterval">
                    <div ng-messages="subscribeForm.maxInterval.$error">
                      <div ng-message="required">This value is the user-defined max interval of subscribe.</div>
                      <div ng-message="md-minlength">The Max Interval is a decimal number.</div>
                    </div>
                  </md-input-container>
                </div>

                <div>
                  <md-button name="subscribeButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="triggerSubscribe($event)">Subscribe</md-button>
                  <div class="loading-spinner" ng-show="showLoadingSpinner">
                    <div class="spinner"></div>
                  </div>
                </div>
              </form>
            </md-content>

            <h4>Subscribe Status</h4>
            <md-list class="md-dense" flex=100>
              <md-list-item class="md-3-line" ng-repeat="item in subscribeStatus">
                <img ng-src="{{item.icon}}" class="md-avatar" alt="" />
                  <div class="md-list-item-text" layout="column">
                      <h4><div style="white-space:pre-wrap">{{ item.status }}</div></h4>
                  </div>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
        </div>

        <div layout="column" class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" ng-cloak ng-show="menu[5].show">
          <h4>Nodes Managerment</h4>
            <md-content layout-padding flex="100">
              <form name="getStatusForm">
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Node Alias</label>
                    <md-select required name="nodeAlias" ng-model="selectedNodeAlias" ng-change="onNodeAliasChange()">
                      <md-option ng-repeat="(nodeAlias, nodeId) in storageStatus.status" value="{{nodeAlias}}"> {{nodeAlias}} </md-option>
                    </md-select>
                    <div ng-messages="getStatusForm.nodeAlias.$error">
                      <div ng-message="required">Required nodeAlias to delete.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Node ID</label>
                    <input required name="nodeId" ng-model="selectedNodeId">
                    <div ng-messages="getStatusForm.nodeId.$error">
                      <div ng-message="required">Required nodeId to delete.</div>
                    </div>
                  </md-input-container>
                </div>

                <div>
                  <md-button name="deleteNodeButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="deleteStorageNode($event)">Delete-StorageNode</md-button>
                  <div class="loading-spinner" ng-show="showLoadingSpinner">
                    <div class="spinner"></div>
                  </div>
                </div>
              </form>
            </md-content>

            <h4>Provisioned Nodes</h4>
            <md-list class="md-dense" flex=100>
              <md-list-item class="md-3-line" ng-repeat="(nodeAlias, nodeId) in storageStatus.status">
                <img ng-src="{{storageStatus.icon}}" class="md-avatar" alt="" />
                <div class="md-list-item-text" layout="column">
                  <h4>Node Alias: {{ nodeAlias }}</h4>
                  <h4>Node ID: {{ nodeId }}</h4>
                </div>
              </md-list-item>
            </md-list>
        </div>

        <div layout="column" class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" ng-cloak ng-show="menu[6].show">
          <h4>Binding</h4>
            <md-content layout-padding flex="100">
              <form name="bingingForm">
                <h4>Write ACL</h4>
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Light Node Alias</label>
                    <md-select required name="lightNodeAlias" ng-model="binding.lightNodeAlias" ng-change="onLightNodeAliasChange()">
                      <md-option ng-repeat="(nodeAlias, nodeId) in storageStatus.status" value="{{nodeAlias}}"> {{nodeAlias}} </md-option>
                    </md-select>
                    <div ng-messages="bingingForm.lightNodeAlias.$error">
                      <div ng-message="required">This value is the user-defined Light Node Alias of the commissioned node.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Light Node ID</label>
                    <input required name="lightNodeId" ng-model="binding.lightNodeId">
                    <div ng-messages="bingingForm.lightNodeId.$error">
                      <div ng-message="required">This value is the user-defined Light Node ID of the commissioned node.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="50">
                    <label>Switch Node Alias</label>
                    <md-select required name="switchNodeAlias" ng-model="binding.switchNodeAlias" ng-change="onSwitchNodeAliasChange()">
                      <md-option ng-repeat="(nodeAlias, nodeId) in storageStatus.status" value="{{nodeAlias}}"> {{nodeAlias}} </md-option>
                    </md-select>
                    <div ng-messages="bingingForm.switchNodeAlias.$error">
                      <div ng-message="required">This value is the user-defined Switch Node Alias of the commissioned node.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Switch Node ID</label>
                    <input required name="switchNodeId" ng-model="binding.switchNodeId">
                    <div ng-messages="bingingForm.switchNodeId.$error">
                      <div ng-message="required">This value is the user-defined Switch Node ID of the commissioned node.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="100">
                    <label>ACL EndPoint ID</label>
                    <input required name="aclEndPointId" type="number" min="0" max="2" ng-model="binding.aclEndpointId">
                    <div ng-messages="bingingForm.aclEndPointId.$error">
                      <div ng-message-exp="['required', 'min', 'max']">The endpoint id should be between 0 and 2. 0 means all endpoints.</div>
                    </div>
                  </md-input-container>
                </div>

                <div>
                  <md-button name="writeAclButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="writeACL($event)">Write ACL</md-button>
                </div>

                <h4>Write Binding</h4>
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Light EndPoint ID</label>
                    <input required name="lightEndPointId" type="number" min="1" max="2" ng-model="binding.lightEndpointId">
                    <div ng-messages="bingingForm.lightEndPointId.$error">
                      <div ng-message-exp="['required', 'min', 'max']">The endpoint id must be between 1 and 2, and it must be the light endpoint you want to bind.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Switch EndPoint ID</label>
                    <input required name="switchEndPointId" type="number" min="1" max="2" ng-model="binding.switchEndpointId">
                    <div ng-messages="bingingForm.switchEndPointId.$error">
                      <div ng-message-exp="['required', 'min', 'max']">The endpoint id must be between 1 and 2, and it must be the switch endpoint you want to bind.</div>
                    </div>
                  </md-input-container>
                </div>

                <div>
                  <md-button name="bindingButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="writeBinding($event)">Write Binding</md-button>
                </div>

              </form>
            </md-content>
        </div>

        <div layout="column" class="demo-charts mdl-color--white  mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" ng-cloak ng-show="menu[7].show">
            <md-content layout-padding flex="100">
              <form name="mediaControlForm">
                <h4>Media App Launch</h4>
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Node Alias</label>
                    <md-select required name="nodeAlias" ng-model="selectedNodeAlias" ng-change="onNodeAliasChange()">
                      <md-option ng-repeat="(nodeAlias, nodeId) in storageStatus.status" value="{{nodeAlias}}"> {{nodeAlias}} </md-option>
                    </md-select>
                    <div ng-messages="mediaControlForm.nodeAlias.$error">
                      <div ng-message="required">Required nodeAlias to delete.</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="50">
                    <label>Node ID</label>
                    <input required name="nodeId" ng-model="selectedNodeId">
                    <div ng-messages="mediaControlForm.nodeId.$error">
                      <div ng-message="required">Required nodeId to delete.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="100">
                    <label>EndPoint ID</label>
                    <input required name="endPointId" type="number" min="1" max="240" ng-model="media.endPointId">
                    <div ng-messages="mediaControlForm.endPointId.$error">
                      <div ng-message-exp="['required', 'min', 'max']">The endpoint id must be between 1 and 240.</div>
                    </div>
                  </md-input-container>
                </div>
                <div>
                  <md-button name="launchAppButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="launchApp($event)">Launch APP</md-button>
                  <md-button name="stopAppButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="stopApp($event)">Stop APP</md-button>
                </div>

                <h4>Media Control</h4>
                <div>
                  <md-button name="playButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaControl($event)">Play</md-button>
                  <md-button name="pauseButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaControl($event)">Pause</md-button>
                  <md-button name="stopButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaControl($event)">Stop</md-button>
                </div>

                <div>
                  <md-button name="previousButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaControl($event)">Privious</md-button>
                  <md-button name="nextButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaControl($event)">Next</md-button>
                  <md-button name="startOverButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaControl($event)">Start Over</md-button>
                </div>

                <div>
                  <md-button name="rewindButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaControl($event)">Rewind</md-button>
                  <md-button name="fastForwardButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaControl($event)">Fast Forward</md-button>
                </div>

                <h4>Media Status</h4>
                <div>
                  <md-button name="currentStateButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaRead($event)">CurrentState</md-button>
                  <md-button name="startTimeButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaRead($event)">StartTime</md-button>
                  <md-button name="durationButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaRead($event)">Duration</md-button>
                  <md-button name="playbackSpeedButton" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" ng-click="mediaRead($event)">Playback Speed</md-button>
                </div>
              </form>
            </md-content>

            <md-list class="md-dense" flex=100>
              <md-list-item class="md-3-line" ng-repeat="item in mediaReports">
                <img ng-src="{{item.icon}}" class="md-avatar" alt="" />
                  <div class="md-list-item-text" layout="column">
                      <h4><div style="white-space:pre-wrap">{{ item.report }}</div></h4>
                  </div>
                <md-divider></md-divider>
              </md-list-item>
            </md-list>
        </div>

      </div>
    </main>
  </div>

  <script src="res/js/material.min.js"></script>
  <script src="res/js/angular.min.js"></script>
  <script src="res/js/angular-animate.min.js"></script>
  <script src="res/js/angular-aria.min.js"></script>
  <script src="res/js/angular-material.min.js"></script>
  <script src="res/js/angular-messages.min.js"></script>
  <script src="res/js/app.js"></script>
  <script src="res/js/d3.min.js"></script>
</body>

</html>
