/*
 *    Copyright (c) 2023 Project CHIP Authors
 *    All rights reserved.
 *
 *    Licensed under the Apache License, Version 2.0 (the "License");
 *    you may not use this file except in compliance with the License.
 *    You may obtain a copy of the License at
 *
 *        http: //www.apache.org/licenses/LICENSE-2.0
 *
 *    Unless required by applicable law or agreed to in writing, software
 *    distributed under the License is distributed on an "AS IS" BASIS
 *    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *    See the License for the specific language governing permissions and
 *    limitations under the License.
 */

#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>

/ {
	chosen {
		zephyr,console = &flexcomm0;
		zephyr,shell-uart = &flexcomm3;
	};
};

&flexcomm0 {
	compatible = "nxp,lpc-usart";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_flexcomm0_usart>;
	pinctrl-names = "default";
};

&flexcomm3 {
	compatible = "nxp,lpc-usart";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_flexcomm3_usart>;
	pinctrl-names = "default";
};

&sram {
	#address-cells = <1>;
	#size-cells = <1>;

	sram_data: memory@20000000 {
		compatible = "mmio-sram";
		reg = <0x20000000 DT_SIZE_K(1216)>;
	};
};

&smu1 {
	#address-cells = <1>;
	#size-cells = <1>;

	smu1_data: memory@0 {
		compatible = "zephyr,memory-region","mmio-sram";
		reg = <0x0 DT_SIZE_K(510)>;
		zephyr,memory-region = "SMU1";
		zephyr,memory-attr = <(DT_MEM_ARM(ATTR_MPU_RAM))>;
	};
};

&smu2 {
	#address-cells = <1>;
	#size-cells = <1>;

	smu2_data: memory@0 {
		compatible = "zephyr,memory-region","mmio-sram";
		reg = <0x0 DT_SIZE_K(140)>;
		zephyr,memory-region = "SMU2";
		zephyr,memory-attr = <(DT_MEM_ARM(ATTR_MPU_RAM))>;
	};
};

&flexspi {
	status = "okay";

	mx25u51245g: mx25u51245g@0 {
		status = "okay";

		partitions {
			storage_partition: partition@a60000 {
				label = "storage";
				reg = <0xa60000 DT_SIZE_K(54908)>;
			};

			factory_partition: partition@3FFF000 {
				label = "factory-data";
				reg = <0x3FFF000 DT_SIZE_K(4)>;
			};

		};
	};
};
